# Entorno virtual
venv/
.env/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo

# Archivos de Jupyter Notebook temporales
.ipynb_checkpoints/

# Archivos de datos
*.csv
*.xlsx
*.xls
*.json
*.xml

# Archivos del sistema o del editor
.DS_Store
.vscode/
.idea/

# Archivos de salida
*.log
*.out
*.bak

# Dashboards u otros outputs si no deseas subirlos
*.pbix
*.twbx